@font-face {
  font-family: 'Hadriano';
  src: url('fonts/HadrianoLightRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Sinistre';
  src: url('fonts/Sinistre-StCaroline.otf') format('opentype');
}

@font-face {
  font-family: 'Arial Rounded';
  src: url('fonts/ArialRoundedRegu.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Rounded Bold';
  src: url('fonts/ArialRoundedBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Henry';
  src: url('fonts/HenryTrial-Italic.otf') format('opentype');
}


<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed"rel="stylesheet">* {
}

body {
  background-color: floralwhite;
}

.name {
    font-family: 'Henry';
    font-size: 15pt;
    line-height: 15pt;
    text-align: center;
    font-weight: normal;
    padding-top: 25px;
}

.title {
    font-family: 'Arial Rounded Bold';
    font-size: 27pt;
    line-height: 27pt;
    letter-spacing: 7px;
    text-align: center;
    font-weight: normal;
}

.subt {
    font-family: 'Sinistre';
    color: black; 
    font-size: 75pt;
    line-height: 73pt;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image img {
    width: 30%;
    align-content: left;
    position: absolute;
    top: 0%;
    left: 0%;
}

.image2 img {
    width: 30%;
    object-fit: cover;
    align-content: right;
    position: absolute;
    top: 0%;
    right: 0%;
}

.image3 img {
    width: 20%;
    object-fit: cover;
    align-content: right;
    position: relative;
    border-radius: 25px;
    left: 40%;
    margin-top: -2%;
}

.index {
     font-family: 'Henry';
    font-size: 15pt;
    line-height: 15pt;
    text-align: center;
    font-weight: normal;
    vertical-align: bottom;
    margin-bottom: 25px;
    padding-top: 3%;
}

       
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .subt {
    font-family: 'Sinistre';
    color: black; 
    font-size: 65pt;
    line-height: 63pt;
    text-align: left;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
          margin-top: -5%;
          margin-left: 5%;
      }
}
 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .image3 img {
    width: 80%;
    object-fit: cover;
    align-content: right;
    position: relative;
    border-radius: 25px;
    left: 10%;
    margin-top: -5%;
}
}
