@font-face {
  font-family: 'Hadriano';
  src: url('fonts/HadrianoLightRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Sinistre';
  src: url('fonts/Sinistre-StCaroline.otf') format('opentype');
}

@font-face {
  font-family: 'Arial Rounded';
  src: url('fonts/ArialRoundedRegu.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Rounded Bold';
  src: url('fonts/ArialRoundedBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Henry';
  src: url('fonts/HenryTrial-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Array';
  src: url('fonts/ArrayMono-RegularItalic.otf') format('opentype');
}


<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed"rel="stylesheet">* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-size: cover; */
  background-image: url("images/a4landsc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
   /* height: 100vh;
   background:linear-gradient(to bottom, white , rgb(136, 152, 255)); */
  /*-webkit-animation: AnimationName 25s ease infinite;*/
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: 'Array';
  height: 90vmin;
  left: 55%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: relative;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 0vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: black;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: 'Array';
  height: 170vmin;
  left: 60%;
  position: absolute;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: relative;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 0vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: black;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
}







.title {
    font-family: 'Sinistre';
    font-size: 70pt;
    line-height: 77pt;
    color: yellow;
    margin-top: 15%;
    text-align: center;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.title {
    font-family: 'Sinistre';
    font-size: 40pt;
    line-height: 45pt;
    color: yellow;
    margin-top: 35%;
    text-align: center;
}
}

.index {
    font-family: 'Array';
    font-size: 13pt;
    line-height: 18pt;
    margin-top: 7%;
    text-align: center;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.index {
    font-family: 'Array';
    font-size: 13pt;
    line-height: 18pt;
    margin-top: 20%;
    text-align: center;
}
}

.text {
    background-color: floralwhite;
    border-radius: 25px;
}

.text h1 {
    font-family: 'Sinistre';
    font-size: 50pt;
    line-height: 57pt;
    text-align: center;
}

.text h2 {
    font-family: 'Sinistre';
    font-size: 50pt;
    line-height: 52pt;
    text-align: center;
    font-weight: normal;
}

.text h3 {
    font-family: 'Array';
    font-size: 13pt;
    line-height: 18pt;
    width: 66%;
    margin-left: 16.5%;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
}

.text h4 {
    font-family: 'Sinistre';
    font-size: 30pt;
    line-height: 8pt;
    align-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
}

.text p {
    font-family: 'Hadriano';
    font-size: 20pt;
    line-height: 23pt;
    text-align: left;
    width: 66%;
    margin-left: 16.5%;
}

.text p1 {
    font-family: 'Arial Rounded';
    font-size: 13pt;
    line-height: 18pt;
}

.text p2 {
    font-family: 'Henry';
    font-size: 20pt;
    line-height: 23pt;
}

.text p3 {
    font-family: 'Henry';
    font-size: 20pt;
    line-height: 23pt;
}

.text p4 {
    font-family: 'Arial Rounded';
    font-size: 12pt;
    line-height: 15pt;
    width: 80%;
    display: flex;
    margin-left:9%;
}

.text p5 {
    font-family: 'Hadriano';
    font-size: 17pt;
    line-height: 20pt;
    display: flex;
    text-align: center;
    margin-left: 36%;
}

.artwork {
	width: 80%;
    height:auto;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 9%;
    border-radius: 15px;
}

.artworkmultiply {
	width: 80%;
    height:auto;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 9%;
    border-radius: 15px;
    mix-blend-mode: multiply;
}

.icon {
	width: 10%;
    height:auto;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 45%;
    border-radius: 15px;
    mix-blend-mode: multiply;
}
 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.text p5 {
    font-family: 'Hadriano';
    font-size: 10pt;
    line-height: 13pt;
    display: flex;
    text-align: center;
    margin-left: 14%;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.icon {
	width: 33%;
    height:auto;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 33%;
    border-radius: 15px;
    mix-blend-mode: multiply;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {     
.text h1 {
    font-family: 'Sinistre';
    font-size: 25pt;
    line-height: 35pt;
    text-align: center;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {     
.text h3 {
    font-family: 'Array';
    font-size: 10pt;
    line-height: 15pt;
    width: 80%;
    margin-left: 8.5%;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {     
.text h4 {
    font-family: 'Sinistre';
    font-size: 23pt;
    line-height: 20pt;
    align-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .text p {
        font-family: 'Hadriano';
    font-size: 15pt;
    line-height: 19pt;
    text-align: left;
    width: 95%;
    margin-left: 2.5%;  
      }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.text p2 {
    font-family: 'Henry';
    font-size: 17pt;
    line-height: 20pt;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.text p3 {
    font-family: 'Henry';
    font-size: 17pt;
    line-height: 20pt;
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
body {
  /* background-size: cover; */
  background-image: url("images/skyyyy2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


    .popup {
  position: absolute;
  width: 100%;
  top: 1%;
  left: 0%;
	padding: 30px;
	display: none;
}
}


.menu-item {
  padding: 0px;
  background-color: none;
  float: none;
}

.menu-item:hover {
	cursor: pointer;
	color: black;
}

/* specific location for the popups */


#popup-note1 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note2 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}


#popup-note3 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note4 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}


#popup-note5 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note6 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note7 {
  width:40%;
  height:25%; 
   top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note8 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}


#popup-note9 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note10 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note11 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note12 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note13 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note14 {
  width:40%;
  height:25%; 
   top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note15 {
  width:40%;
  height:25%; 
   top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note16 {
  width:40%;
  height:25%; 
   top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note17 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note18 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note19 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note20 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note21 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note22 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note23 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note24 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note25 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note26 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note27 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note25 {
  width:40%;
  height:25%; 
   top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note26 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note27 {
  width:40%;
  height:25%; 
   top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note28 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note29 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note30 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note31 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

#popup-note32 {
  width:40%;
  height:25%; 
  top: 20%;
  left: 30%;
  position: fixed;
}

/* popup styling */


.popup {
  position: absolute;
  width: 66%;
  top: 1%;
  left: 0%;
  display: none;
}

.popup p {
    font-family: 'Arial Rounded';
    font-size: 10pt;
    line-height: 13pt;
    top: 40px;;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    box-shadow: 5px 10px 18px #888888;
}


.popup .note {
	width: auto;
    height:50%;
}



.close-button {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url("images/closebutton.png") no-repeat;
	background-size: cover;
    background-color: yellow;
	border: 1px solid rgba(255,255,255);
    border-radius: 10px;
	cursor: pointer;
}

.close-button:hover {
	border: 1px solid transparent;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #popup-image {
  width:90%;
  height:100%; 
  top: 1%;
  left: 0.5%;
}  
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      #popup-note1 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note2 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}


#popup-note3 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note4 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}


#popup-note5 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note6 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note7 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note8 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}


#popup-note9 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note10 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note11 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note12 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note13 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note14 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note15 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note16 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note17 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note18 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note19 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note20 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note21 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note22 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note23 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note24 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note25 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note26 {
  width:40%;
  height:25%; 
  top: 2.5%;
  left: 20.5%;
  position: fixed;
}

#popup-note27 {
  width:40%;
  height:25%; 
  top: 5%;
  left: 20.5%;
  position: fixed;
}

#popup-note25 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note26 {
  width:40%;
  height:25%; 
  top: 2.5%;
  left: 20.5%;
  position: fixed;
}

#popup-note27 {
  width:40%;
  height:25%; 
  top: 5%;
  left: 20.5%;
  position: fixed;
}

#popup-note28 {
  width:40%;
  height:25%; 
  top: 10%;
  left: 20.5%;
  position: fixed;
}

#popup-note29 {
  width:40%;
  height:25%; 
  top: 2.5%;
  left: 20.5%;
  position: fixed;
}
      
#popup-note30 {
  width:40%;
  height:25%; 
  top: 5%;
  left: 20.5%;
  position: fixed;
}
}
