@font-face {
  font-family: 'Hadriano';
  src: url('fonts/HadrianoLightRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Sinistre';
  src: url('fonts/Sinistre-StCaroline.otf') format('opentype');
}

@font-face {
  font-family: 'Arial Rounded';
  src: url('fonts/ArialRoundedRegu.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Rounded Bold';
  src: url('fonts/ArialRoundedBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Henry';
  src: url('fonts/HenryTrial-Italic.otf') format('opentype');
}


<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed"rel="stylesheet">* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-size: cover; */
  background-color: floralwhite;
   /* height: 100vh;
   background:linear-gradient(to bottom, white , rgb(136, 152, 255)); */
  /*-webkit-animation: AnimationName 25s ease infinite;*/
}

.prologue h1 {
    font-family: 'Sinistre';
    font-size: 50pt;
    line-height: 52pt;
    text-align: center;
}

.prologue h2 {
    font-family: 'Sinistre';
    font-size: 50pt;
    line-height: 52pt;
    text-align: center;
    font-weight: normal;
}

.prologue h3 {
    font-family: 'Henry';
    font-size: 22pt;
    line-height: 25pt;
    text-align: center;
    font-weight: normal;
}

.prologue h4 {
    font-family: 'Arial Rounded Bold';
    font-size: 20pt;
    line-height: 23pt;
    text-align: center;
    margin-left: -2%;
    font-weight: normal;
}


.prologue p {
    font-family: 'Hadriano';
    font-size: 20pt;
    line-height: 23pt;
    text-align: left;
    width: 66%;
    margin-left: 16.5%;
}

.prologue p1 {
    font-family: 'Arial Rounded';
    font-size: 15pt;
    line-height: 18pt;
}

.prologue p2 {
    font-family: 'Henry';
    font-size: 20pt;
    line-height: 23pt;
}

.prologue p3 {
    font-family: 'Henry';
    font-size: 18pt;
    line-height: 21pt;
}

.artwork {
	width: 80%;
    height:auto;
    align-content: center;
    align-items: center;
    display: flex;
    margin-left: 9%;
    border-radius: 15px;
}
       
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .prologue p {
        font-family: 'Hadriano';
    font-size: 16pt;
    line-height: 19pt;
    text-align: left;
    width: 95%;
    margin-left: 2.5%;  
      }
}
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.prologue h3 {
    font-family: 'Henry';
    font-size: 17pt;
    line-height: 19pt;
    text-align: center;
    font-weight: normal;
}
}
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.prologue h1 {
  font-family: 'Sinistre';
    font-size: 40pt;
    line-height: 42pt;
    text-align: center;
}
}









      
      .popup {
  position: absolute;
  width: 90%;
  top: 1%;
  left: 0%;
	border: 1px solid white;
    border-radius: 25px;
	padding: 30px;
	background-color: white;
	display: none;
  box-shadow: 5px 10px 18px #888888;
}
}


.menu-item {
  padding: 0px;
  background-color: none;
  float: none;
}

.menu-item:hover {
	cursor: pointer;
	color: black;
}

/* specific location for the popups */

#popup-image {
  width:50%;
    height:90%; 
    top: 1%;
  left: 25%;
    position: fixed;
}

#popup-note1 {
  width:40%;
    height:25%; 
    top: 25%;
  left: 25%;
    position: fixed;
}

#popup-note2 {
  width:40%;
    height:25%; 
    top: 25%;
  left: 25%;
    position: fixed;
}


#popup-note3 {
  width:40%;
    height:25%; 
    top: 25%;
  left: 25%;
    position: fixed;
}

#popup-notefour {
  width:40%;
    height:53%; 
    top: 25%;
  left: 25%;
    position: fixed;
}

/* popup styling */

.popup {
  position: absolute;
  width: 66%;
  top: 1%;
  left: 0%;
	border: 1px solid white;
    border-radius: 25px;
	padding: 30px;
	background-color: white;
	display: none;
  box-shadow: 5px 10px 18px #888888;
}

.popup h1 {
}

.popup p1 {
    font-family: 'Arial Rounded';
    font-size: 15pt;
    line-height: 18pt;
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.popup p {
    font-family: 'Arial Rounded';
    font-size: 15pt;
    line-height: 18pt;
    top: 40px;;
    left: 20px;
    right: 20px;
    position: absolute;
}


.popup .note {
	width: auto;
    height:50%;
}

.popup .notefour {
	width: auto;
    height:50%;
}

.close-button {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url("images/closebutton.png") no-repeat;
	background-size: cover;
	border: 1px solid rgba(255,255,255,0);
	cursor: pointer;
}

.close-button:hover {
	border: 1px solid white;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #popup-image {
  width:90%;
  height:100%; 
  top: 1%;
  left: 0.5%;
}  
      .popup .artwork {
	width: 100%;
    height:auto;
  
}
}