@font-face {
  font-family: 'Hadriano';
  src: url('fonts/HadrianoLightRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Sinistre';
  src: url('fonts/Sinistre-StCaroline.otf') format('opentype');
}

@font-face {
  font-family: 'Arial Rounded';
  src: url('fonts/ArialRoundedRegu.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Rounded Bold';
  src: url('fonts/ArialRoundedBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Henry';
  src: url('fonts/HenryTrial-Italic.otf') format('opentype');
}


<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed"rel="stylesheet">* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-size: cover; */
  background-color: floralwhite;
   /* height: 100vh;
   background:linear-gradient(to bottom, white , rgb(136, 152, 255)); */
  /*-webkit-animation: AnimationName 25s ease infinite;*/
}

.text h1 {
    font-family: 'Sinistre';
    font-size: 50pt;
    line-height: 52pt;
    text-align: center;
}

.text h2 {
    font-family: 'Sinistre';
    font-size: 50pt;
    line-height: 52pt;
    text-align: center;
    font-weight: normal;
}

.text h3 {
    font-family: 'Henry';
    font-size: 22pt;
    line-height: 25pt;
    text-align: center;
    font-weight: normal;
}

.text h4 { 
    font-family: 'Arial Rounded Bold';
    font-size: 20pt;
    line-height: 23pt;
    text-align: center;
    margin-left: -3%;
    font-weight: normal;
}


.text p {
    font-family: 'Hadriano';
    font-size: 20pt;
    line-height: 23pt;
    text-align: left;
    width: 66%;
    margin-left: 16.5%;
}

.text p1 {
    font-family: 'Arial Rounded';
    font-size: 15pt;
    line-height: 18pt;
    text-align: center;
}

.text p2 {
    font-family: 'Henry';
    font-size: 20pt;
    line-height: 23pt;
}

.text p3 {
   font-family: 'Henry';
    font-size: 18pt;
    line-height: 21pt;
}



        
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .text p {
        font-family: 'Hadriano';
    font-size: 16pt;
    line-height: 19pt;
    text-align: left;
    width: 95%;
    margin-left: 2.5%;  
      }
}
